body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 60%;
}

th {
  background-color: #333;
  color: white;
}

td, th {
  text-align: left;
}
